# Tratando Dados com Python

GitHub: https://github.com/renatobrilhante/Dados-Titanic.git

In [ ]:
titanic_csv = open('titanic.csv','r')

In [ ]:
titanic_csv.readlines()

In [ ]:
titanic_csv.seek(0)

In [ ]:
linhas = titanic_csv.readlines()

In [ ]:
linhas

In [ ]:
titanic_csv.close()

In [ ]:
linhas[0].split(',')

In [ ]:
# Transformando linha em coluna
colunas = linhas[0].split(',')

In [ ]:
colunas

In [ ]:
dados = linhas[1].split(',')

In [ ]:
print(colunas)
print(dados)

In [ ]:
print(len(colunas), len(dados))

In [ ]:
# Função para remover vírgula dos nomes e trocar a posição
def tratar_nome(linha):
    import re
    match = re.compile(r'"(.*)(,)(\s.*)"')
    return match.sub(r'"\3 \1"', linha)

In [ ]:
tratar_nome(linhas[1])

In [ ]:
linha1_tratada = tratar_nome(linhas[1])
type(linha1_tratada)

In [ ]:
linha1_separada = linha1_tratada.split(",")

In [ ]:
print(colunas)
print(linha1_tratada)
print(linha1_separada)

In [ ]:
print(len(colunas), len(linha1_separada))

In [ ]:
# Criando dicionário com as chaves e os valores vazios
titanic_dados = {}

for coluna in colunas:
    titanic_dados[coluna] = []
titanic_dados

In [ ]:
# Tratando todas as linhas retirando a linha 0 que é o cabeçalho
for dado in linhas[1:]:
    dado_tratado = tratar_nome(dado)
    print(dado_tratado)

In [ ]:
# Separando linhas pela vírgula e convertendo em uma lista
for dado in linhas[1:]:
    dado_tratado = tratar_nome(dado)
    dado_como_lista = dado_tratado.split(',')
    print(dado_como_lista)

In [ ]:
dados_tratados = []

for dado in linhas[1:]:
    dado_tratado = tratar_nome(dado)
    dado_como_lista = dado_tratado.split(',')
    dados_tratados.append(dado_como_lista)

In [ ]:
print(dados_tratados[0][3])

In [ ]:
for passageiro in dados_tratados:
    print(colunas[4], passageiro[4]) #Mesmo indice colunas e o passageiro

In [ ]:
for passageiro in dados_tratados:
    for indice, dado in enumerate(passageiro): #Enumerate retorna INDICE e VALOR (atribuicao MULTIPLA)
        coluna = colunas[indice]
        print(coluna,dado)

In [ ]:
for passageiro in dados_tratados:
    for indice, dado in enumerate(passageiro): 
        coluna = colunas[indice]
        titanic_dados[coluna].append(dado)

In [ ]:
titanic_dados

In [ ]:
for indice, age in enumerate(titanic_dados["Age"]):
    if titanic_dados['Age'][indice] != '':
        titanic_dados['Age'][indice] = float(age)
    else:
        titanic_dados['Age'][indice] = -1

In [ ]:
lista_idades = []

for idade in titanic_dados["Age"]:
    if idade != -1:
        lista_idades.append(idade)

In [ ]:
def media(lista):
    soma_total = sum(lista)
    quantidade = len(lista)
    return soma_total / quantidade

In [ ]:
# Idade Média
print('%.f' % media(lista_idades))

In [ ]:
for indice, survived in enumerate(titanic_dados["Survived"]):
    if titanic_dados['Survived'][indice] != 0:
        titanic_dados['Survived'][indice] = int(survived)
    else:
        titanic_dados['Survived'][indice] = -1

In [ ]:
sobreviveu = []
nao_sobreviveu = []

for survived in titanic_dados["Survived"]:
    if survived != 0:
        sobreviveu.append(survived)
    else:
        nao_sobreviveu.append(survived)

In [ ]:
def total(lista_sob):
    total_sob = len(lista_sob)
    return total_sob

In [ ]:
# Sobreviveram
len(sobreviveu)

In [ ]:
# Não sobreviveram
len(nao_sobreviveu)